<div id="room-wrapper">
  <div id="left-side">
    <span id="back-link" (click)="onBackClick()">
      Back
    </span>
  </div>
  <div id="panel-wrapper">
    <h2>Players</h2>
    <div id="players-table">
      <div *ngFor="let playerName of roomPlayerNames" class="player-name-wrapper separated">{{ playerName }}</div>
    </div>
    <div id="buttons-wrapper">
      <div class="button" (click)="changeRoomStatus()">
        {{ getGameEntranceButtonText() }}
      </div>
      <div class="button">
        Ready
      </div>
      <div class="button">
        Start Game
      </div>
    </div>
  </div>
  <div id="right-side"></div>
</div>
