<div id="game-wrapper">
  <div id="sidebar-wrapper">
    <div id="opponents-wrapper">
      <app-opponent name="Player 1" [numOfCards]="3"></app-opponent>
      <app-opponent name="Player 2" [numOfCards]="6"></app-opponent>
    </div>
    <div id="log-wrapper">

    </div>
  </div>
  <div id="action-wrapper">
    <div id="table-wrapper">
      <div id="canvas-wrapper">
        <div id="canvas-top-wrapper"></div>
        <div id="canvas-middle-wrapper">
          <div style="width: 120px; height: 160px;">
            <app-card [card]="card"></app-card>
          </div>
        </div>
        <div id="canvas-bottom-wrapper"></div>
      </div>
      <div id="palette-wrapper">
        <div id="palette-top-wrapper"></div>
        <div id="palette-middle-wrapper">
          <div style="width: 120px; height: 160px;">
            <app-card [card]="card"></app-card>
          </div>
        </div>
        <div id="palette-bottom-wrapper"></div>
      </div>
    </div>
    <div id="hand-wrapper">
      <div *ngFor="let handCard of handCards" class="hand-card-wrapper">
        <app-card [card]="handCard"></app-card>
      </div>
    </div>
  </div>
</div>
