#card-wrapper {
  width: 100%;
  height: 100%;
  border: 4px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  /*transform: rotate(12deg);*/
}
