<div id="lobby-wrapper">
  <div id="panel-wrapper">
    <h2>Players</h2>
    <div id="players-table">
      <div *ngFor="let playerName of lobbyPlayerNames" class="player-name-wrapper separated">{{ playerName }}</div>
    </div>
    <div id="buttons-wrapper">
      <div class="button" (click)="changeLobbyStatus()">
        {{ getGameEntranceButtonText() }}
      </div>
      <div class="button">
        Ready
      </div>
      <div class="button">
        Start Game
      </div>
    </div>
  </div>
</div>
